/*dekstop mode*/
.nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    left: 0%;
    box-shadow: 0px 15px 15px -15px #111;
    position: fixed;
    width: 100vw;
    z-index: 10000000;
}

.menu {
    display: none;
}

.left {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;

}

.left img {
    width: 50px;
    margin-right: 10px;
}


.logoText .heading {
    font-size: 2rem;

}


.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-right: 3rem;
}

.right li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}




@media only screen and (max-width: 768px) {
    .logoText .heading {
        font-size: 1.3rem;

    }

    .logoText .subHeading {
        font-size: 1.1rem;

    }

    .right {
        display: none
    }

    .menu {
        display: block;
        margin-right: 3rem;

    }

    .menuList {
        position: fixed;
        background-color: rgb(193, 196, 190);
        width: 60vw;
        padding: 0 20px 30px 20px;
        top: 6rem;
        bottom: 0;
        right: 0px;
        border-radius: 1rem;
        
    }

    li {
        margin-top: 20px;
        border-bottom: 1px solid rgb(73, 72, 72);
        
    }
    li a{
        font-weight:600
    }


}